extends base.pug


block content 
    h4 Change Title of Video
    form(method="POST")
        input(name="title" ,placeholder="Video Title", value=video.title, required)
        input(name="description" placeholder="description", value=video.description, required, type="text", maxLength= 140)
        input(name="hashtags" placeholder="Hashtags, separated by comma.",value=video.hashtags.join()  ,required, type="text")
        input(value="Save", type="submit")